<!DOCTYPE html>
<html lang="en">

<head>
    <title>心里话</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./FristWeb_index/public/vue.min.js"></script>
    <link rel="stylesheet" href="./FristWeb_index/public/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <!--表头巨幕-->
    <div class="jumbotron">
        <div class="container">
            <div class="row"> 
                <div class="col-xs-12">
                    <div class="logotxt">
                        <h2>新生大学</h2>
                    </div>
                        <h3 class="site-name text-center">
                            "JavaScritp"
                        </h3>
                    </div>
            </div>
        </div>                         
        <p><a class="btn btn-primary btn-lg" href="https://js.xinshengdaxue.com" role="button">主页</a></p>
    </div>

    <div class="container">
        <div id='app'>
            <div class="row ">
                <div class='col-md-4'>
                    <!-- 左边内容-->
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Git相关</h3>
                        </div>
                        <div class="panel-body">
                            <li class="list-group-item list-group-item-x" v-for="item in gitList ">
                                <a v-bind:href="item.url">
                          {{item.title}}
                          </a>
                            </li>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title">JS技术</h3>
                        </div>
                        <div class="panel-body">
                            <li class="list-group-item list-group-item-x" v-for="item in topicList">
                                <a v-bind:href="item.url">
                                     {{item.title}}
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h3 class="panel-title">PPT文档</h3>
                        </div>
                        <div class="panel-body">
                            <li class="list-group-item list-group-item-x" v-for="item in pptList">
                                <a v-bind:href="item.url">
                                     {{item.title}}
                                </a>
                            </li>
                        </div>
                    </div>
                </div>


                <!-- 右边内容-->
                <div class='col-md-8'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">心里话</h3>
                        </div>
                        <div class="panel-body">
                            <div class="words-pannel" v-for="item in wordsList">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                        <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                                    </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ item.name }}
                                        </h4>
                                        {{ item.words }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<script>
    var app = new Vue({
        el: '#app',   // #app 和html中div#id的 app 对应
        data: {
            gitList: [],
            topicList: [],
            wordsList: [],
            pptList:[],
        },
        methods: {
            fetchWordsData: function () {
                axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
                    .then(function (response) {
                        //看response中的属性值是否为1，如果值等于1，说明这是正常的，在可以使用一个if 语句来判断
                        //如果得知使用属性等于1来判断？  这时候需要去看接口文档

                        if (response.data.code === 1) {
                            app.wordsList = response.data.words
                        } else {
                            alert('failed')
                        };
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            fetchCatalogData: function () {
                axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/catelog')
                    .then(function (imfor) {
                        app.gitList = imfor.data.catelog.gitTopicsList;
                        app.topicList = imfor.data.catelog.topicsList;
                        app.pptList = imfor.data.catelog.pptList;

                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            }
        }
    })

    app.fetchWordsData();
    app.fetchCatalogData();

</script>